.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addEmployeeButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6em;
  font-size: 1em;
  padding: 0.2em 0.2em;
  background: #248291;
  color: var(--btn-color);
  border-radius: 6px;
  border: none;
  outline-color: #2082d1;
}

.addEmployee {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 0 3em 0;
}

.spinnerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
