.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}

.heading {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
